<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/shabbyShackInn/index}" class="btn btn-success">Back to main page</a>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2>Booking Information</h2>
            <div class="center-div">
                <form action="#" th:action="@{/shabbyShackInn/updateOrAddBooking}" method="post">
                    <input type=hidden id="id" name="id" th:value="${id}"><br>

                    <div class="form-group mx-sm-3 mb-2">
                        <label for="startDate" class="sr-only">Start Date</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" th:value="${startDate}"
                               style="max-width: 200px;">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="endDate" class="sr-only">End Date</label>
                        <input type="date" class="form-control" id="endDate" name="endDate" th:value="${endDate}"
                               style="max-width: 200px;">
                    </div>
                    <div style="padding-left: 18px">
                        <label for="bookingNumber">Booking number:</label><br>
                        <input type="text" id="bookingNumber" name="bookingNumber" th:value="${bookingNumber}" readonly><br>

                        <label for="extraBedsWanted">Extra beds wanted:</label><br>
                        <input type="number" id="extraBedsWanted" name="extraBedsWanted" th:value="${extraBedsWanted} "
                               min="0" th:max="${possibleExtraBeds}" style="min-width: 190px"><br>

                        <label for="roomNumber">Room nr:</label><br>
                        <input type="number" id="roomNumber" name="roomNumber" th:value="${roomNumber}" 
                               min="0" th:max="${maxRoomNumber}" style="min-width: 190px"><br>

                        <label for="firstName">First Name:</label><br>
                        <input type="text" id="firstName" name="firstName" th:value="${firstName}" readonly><br>

                        <label for="lastName">Last Name:</label><br>
                        <input type="text" id="lastName" name="lastName" th:value="${lastName}" readonly><br>

                        <label for="email">Email:</label><br>
                        <input type="email" id="eMail" name="eMail" th:value="${eMail}" readonly><br>

                        <label for="totalPrice">Total Price:</label><br>
                        <input type="number" id="totalPrice" name="totalPrice" th:value="${totalPrice}"><br>

                        <div style="padding-top: 10px">
                            <input class="btn btn-success" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");
        form.addEventListener("submit", function (event) {
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;

            if (new Date(startDate) > new Date(endDate)) {
                event.preventDefault(); // Stop form submission
                alert('Start date needs to be before end date.');
            }
        });
    });
</script>

</body>
</html>