<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>BookingEmailConformation</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/templates/styles.css">
<!--  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">-->
</head>
<body>
<div class="container">
  <div class="header">
    <h2>Booking Confirmation</h2>
  </div>
  <div class="content">
    <h1>Hello, <span th:text="${customer_name}"></span></h1>
    <p>Thank you for your booking! Here are your booking details:</p>
    <p>
      <strong>Booking number:</strong> <span th:text="${booking_number}"></span><br>
      <strong>Start date:</strong> <span th:text="${booking_startdate}"></span><br>
      <strong>End date:</strong> <span th:text="${booking_endDate}"></span><br>
      <strong>Name:</strong> <span th:text="${customer_name}"></span><br>
      <strong>Amount Paid:</strong> <span th:text="${amount_paid}"></span><br>
    </p>
    <p>If you have any questions or need to make changes to your booking, please do not contact us at:</p>
    <p>
      <strong>Email:</strong> shabbyshack@Inn.se<br>
      <strong>Phone:</strong> (123) 456-7890
    </p>
  </div>
  <div class="footer">
    <p>&copy; 2024 ShabbyShackInn. All rights reserved.</p>
  </div>
</div>
</body>
</html>