<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<input type="button" class="btn btn-success" value="Gå tillbaka" onclick="history.back()">
<div class="container mt-5">
    <h1>Contract Customer Details</h1>
    <div>
        <p>Company Name: <span th:text="${contractCustomer.getCompanyName()}"></span></p>
        <p>Contact Name: <span th:text="${contractCustomer.getContactName()}"></span></p>
        <p>Contact Title: <span th:text="${contractCustomer.getContactTitle()}"></span></p>
        <p>Street Address: <span th:text="${contractCustomer.getStreetAddress()}"></span></p>
        <p>City: <span th:text="${contractCustomer.getCity()}"></span></p>
        <p>Postal Code: <span th:text="${contractCustomer.getPostalCode()}"></span></p>
        <p>Country: <span th:text="${contractCustomer.getCountry()}"></span></p>
        <p>Phone: <span th:text="${contractCustomer.getPhone()}"></span></p>
        <p>Fax: <span th:text="${contractCustomer.getFax()}"></span></p>
    </div>
</div>
</body>
</html>