<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Contract Customer Details</h1>
    <div>
        <p>Company Name: <span th:text="${customer.companyName}"></span></p>
        <p>Contact Name: <span th:text="${customer.contactName}"></span></p>
        <p>Contact Title: <span th:text="${customer.contactTitle}"></span></p>
        <p>Street Address: <span th:text="${customer.streetAddress}"></span></p>
        <p>City: <span th:text="${customer.city}"></span></p>
        <p>Postal Code: <span th:text="${customer.postalCode}"></span></p>
        <p>Country: <span th:text="${customer.country}"></span></p>
        <p>Phone: <span th:text="${customer.phone}"></span></p>
        <p>Fax: <span th:text="${customer.fax}"></span></p>
    </div>
</div>
</body>
</html>