<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Återställ Lösenord</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f7f7f7;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .card {
            width: 400px;
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="card">
    <h2 class="text-center">Återställ Lösenord</h2>
    <form th:action="@{/updatedPassword}" method="post">
        <input type="hidden" name="token" th:value="${token}">
        <div class="form-group">
            <label for="password">Nytt Lösenord:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Återställ Lösenord</button>
        </div>
    </form>
</div>
</body>
</html>
