<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<input type="button" class="btn btn-success" value="Go back" onclick="history.back()">
<div class="container mt-5">
    <h1>Room Log</h1>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Message</th>
                <th>Date/Time</th>
                <th>Cleaner</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="roomEvent : ${roomEventList}">
                <td th:text="${roomEvent.getType()}"></td>
                <td th:text="${roomEvent.getTimeStamp()}"></td>
                <td th:text="${roomEvent.getCleaningByUser()}"></td>
            </tr>
            </tBody>
        </table>
    </div>
</div>
</body>
</html>